<div class="shapes-list" ref="shapeList" :style="`
    width: ${width}px;
    transform: translateX(-${show ? 0 : width}px);
`">
  <div class="shapes-list__header">
    shapes
  </div>
  <input placeholder="search..." type="search" v-model="search" class="shapes-list__search">
  <div class="shapes-list__wrapper">
    <div @click="focusToShape(item)" :class="`
    shapes-list__wrapper__item 
    ${isSelected(item._id) ? 'shapes-list__wrapper__item--active' : ''}
    `" v-for="(item, i) in listShape" :key="i"
      @dblclick="editNameFun()">
      {{ item.name }}
    </div>
  </div>

  <div @click="toggleShow()" class="shapes-list__show">
    <span>shapes</span>
    <img :src="require(`./../../../assets/icons/${show ? 'left' : 'right'}.svg`)">
  </div>

  <div class="shapes-list__expand" @mousedown="mouseDown($event)" @mouseup="mouseUp($event)"
    @mouseleave="mouseUp($event)" @mousemove="mouseMove($event)"></div>
</div>
