@import "./../diagram-vars.scss";

.diagram-tool {
    position: fixed;
    left: 5px;
    top: calc(50%);
    transform: translate(-70px, -50%);
    padding: 10px;
    transition: .3s linear;
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(20px);
    border: 1px solid transparent;
    // background-clip: padding-box;
    box-sizing: border-box;
    &.editable {
        transform: translate(0px, -50%);
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(20px);
    }
    ul {
        padding: 0px;
        li {
            list-style: none;
            button {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                outline: none;
                background: transparent;
                cursor: pointer;
                border: 2px solid transparent;
                margin: 2px 0;
                img {
                    height: 100%;
                    width: 100%;
                }
                &.active, &:hover {
                    background: rgba(0, 0, 0, 0.12);
                }
                &.active {
                    // box-shadow: inset 
                    // 2px 2px 10px rgba(92, 92, 92, 0.3),
                    // -2px -2px 10px #fff;
                }
            }
            .shape-type {
                $color-stuff: rgb(187, 186, 186);
                display: flex;
                height: 20px;
                .stroke {
                    width: 50%;
                    box-sizing: border-box;
                    border: 3px solid $color-stuff;
                    border-radius: 0px 4px 4px 0px;
                    border-left: 0px;
                }
                .shade {
                    width: 50%;
                    background: $color-stuff;
                    border-radius: 4px 0px 0px 4px;
                    border-left: 0px;
                }
            }
        }
    }
}