$header-size: 60px;
$default-cursor: 'assets/images/cursor.svg';
$rectangle-cursor: 'assets/images/rectangle-cursor.svg';
$circle-cursor: 'assets/images/circle-cursor.svg';
$hand-cursor: 'assets/images/hand.svg';
$grab-cursor: 'assets/images/grab.svg';