.diagram-detail {
    height: calc(100% -  40px);
    max-height: calc(100% -  40px);
    // overflow-y: auto;
    // overflow-x: visible;
    width: 220px;
    position: fixed;
    right: 0px;
    top: 40px;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    text-align: left;
    &__resize {
        background: rgb(202, 202, 202);
        width: 3px;
        position: absolute;
        top: 0px;
        height: 100%;
        cursor: ew-resize;
        left: -5px;
        transition: 0s;
        resize: horizontal;
        &::before {
            left: 0px;
        }
        &::after {
            right: 0px;
        }
        &:hover {
            left: -10px;
            border: 5px solid rgb(233, 233, 233);
            &::before, &::after {
                content: '';
                position: absolute;
                width: 40px;
                height: 100%;
                top: 0px;
                background: transparent;
            }
            &::after {
                left: -30px;
            }
            &::before {
                right: 0px;
            }
        }
    }

    &__name {
        $outline-color: rgb(0, 238, 255);
        border-radius: 4px;
        margin-bottom: 10px;
        &:hover {
            outline: 1px solid $outline-color;
        }
        &:focus {
            outline: 3px solid $outline-color;
        }
    }

    .input-field {
        margin-bottom: 10px;
        b {
            margin-right: 5px;
        }
        textarea {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            min-height: 90px;
            max-height: 150px;
            resize: vertical;
            background: transparent;
        }
        display: grid;
        align-items: center;
        grid-template-columns: 50% 50%;
        input {
            width: 100%;
        }
        &.full-width {
            display: grid;
            grid-template-columns: auto;
        }
        &.shape-position {
            display: grid;
            grid-template-columns: 1fr;
        }
        &__position {
            display: flex;
            align-items: center;
            b {
                text-align: center;
                margin-right: 4px;
            }
            input {
                flex: 1;
                margin-right: 5px;
            }
        }
    }

    &__color-input {
        display: flex;
        align-items: center;
        b {
            margin-right: 6px;
        }
        input {
            flex: 1;
            width: 50px;
            &[type=color] {
                height: 20px;
                width: 30px;
                max-width: 30px;
                border-radius: 4px;
                margin: 0px;
                padding: 0px;
                overflow: hidden;
                outline: none;
                border: none;
            }
            &[type="color"]::-webkit-color-swatch-wrapper {
                padding: 0;
                transform: scale(2);
            }
            &[type="color"]::-webkit-color-swatch {
                border: none;
            }
            
        }
    }
}